/* --------------------------Main--------------------------- */
h1 {
    position: relative;
    margin: 0 auto;
}

h1:before {
    content: "";
    background-image: url("/images/Adobe_Suite/icon_adobe.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    left: -5rem;              
    position: absolute;
    top: 0%;                  
}

section {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 0 auto;
    width: calc(100% - 20%);
}

section img {
    max-width: 25%;
    max-height: 150px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 1px 1px 1em var(--beige);
    margin-left: 20px;
}