/* --------------------------Main Blender--------------------------- */
#section_1 {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 30px;
    width: calc(100% - 60px);
}

video {
    width: calc(100% - 20px);
    margin: auto;
    border: double 10px var(--new_color_orange);
}

#div_mustang {
    border: double 10px var(--new_color_orange);
    height: 50svh; 
    z-index: 9997;
    display: none;
    width: calc(100% - 20px);
}

#active_Mustang3D {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
padding: 10px;
color: white;
background-color: var(--new_color_gris_foncé);
border: 2px solid var(--new_color_orange);
border-radius: 5px;
cursor: pointer;
}