/* --------------------------Main Photoshop--------------------------- */
.content {
    padding: 250px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-size: calc(1rem + 1.5vw);
    text-align: center;
}

h2 {
    font-size: calc(1rem + 0.7vw);
    text-align: center;
    width: 80%;
}

.sizeXD {
    max-width: 45px;
}

#aperçu_1,
#aperçu_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.aperçu_gauche img,
.aperçu_droite img {
    max-width: 80svw;
    max-height: 40svh;
    object-fit: contain;
    border: 3px solid var(--marron_foncé);
}

.aperçu_gauche,
.aperçu_droite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    opacity: 0;
    filter: blur(5px);
    box-shadow: 1px 1px 2em var(--beige);
    background-color: var(--beige);
    color: var(--marron_foncé);
    padding: 20px;
    border-radius: 30px;
}

.aperçu_gauche h3,
.aperçu_droite h3 {
    color: var(--marron_foncé);
}

.dark-mode .aperçu_gauche h3,
.dark-mode .aperçu_droite h3 {
    color: var(--beige);
}

.dark-mode .aperçu_gauche,
.dark-mode .aperçu_droite {
    box-shadow: 1px 1px 2em var(--marron_foncé);
    background-color: var(--marron_foncé);
}

.dark-mode .aperçu_gauche img,
.dark-mode .aperçu_droite img {
    border: 3px solid var(--beige);
}

.aperçu_gauche {
    transform: translateX(-20%);

    transition: all 1.5s;
}

.aperçu_droite {
    transform: translateX(20%);
    transition: all 1.5s;
}

.show_aperçu {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width: 1000px) {
    .sizeXD {
        max-width: 40px;
    }

    #aperçu_1,
    #aperçu_2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .aperçu_gauche {
        transform: translateX(0);
    }

    .aperçu_droite {
        transform: translateX(0);
    }

    .show_aperçu {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .aperçu_gauche,
    .aperçu_droite {
        padding: calc(10px + 0.5vw);
    }
}