/* --------------------------Main Photoshop--------------------------- */
#section_1 {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: calc(100% - 30px);
}

#aperçu_1,
#aperçu_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

.aperçu_gauche img,
.aperçu_droite img {
    max-width: 100svw;
    max-height: 40svh;
    border: 7.5px double var(--new_color_orange);
    border-radius: 10px;
}

.portrait {
aspect-ratio: 9 / 16;
}

.paysage {
aspect-ratio: 16 / 9;
}

.aperçu_gauche,
.aperçu_droite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    opacity: 0;
    filter: blur(5px);
    border-radius: 30px;
}

.aperçu_gauche h3,
.aperçu_droite h3 {
    color: var(--marron_foncé);
}

.aperçu_gauche {
    transform: translateX(-20%);
    transition: all 0.4s;
}

.aperçu_droite {
    transform: translateX(20%);
    transition: all 0.4s;
}

.show_aperçu {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}