/* --------------------------Main Projects--------------------------- */
.content {
    padding: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

main h2 {
    font-size: calc(1rem + 0.7vw);
    text-align: center;
}

main#Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main#Projects img {
    max-width: 80svw;
    max-height: 40svh;
    object-fit: contain;
    border: 5px solid var(--marron_foncé);
}


.aperçu_gauche,
.aperçu_droite {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
    opacity: 0;
    filter: blur(5px);
    box-shadow: 1px 1px 2em var(--beige);
    background-color: var(--beige);
    color: var(--marron_foncé);
    padding: 20px;
    border-radius: 30px;
}

.aperçu_gauche a:hover,
.aperçu_droite a:hover {
    cursor: url('images/curseur_pointer_logo_grand.png'), auto;
}

.dark-mode .aperçu_gauche,
.dark-mode .aperçu_droite {
    box-shadow: 1px 1px 2em var(--marron_foncé);
    background-color: var(--marron_foncé);
    color: var(--beige);
}

.aperçu_gauche a,
.aperçu_droite a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--marron_foncé);
}

.aperçu_gauche {
    transform: translateX(-20%);
    transition: all 1.5s;
}

.aperçu_droite {
    transform: translateX(20%);
    transition: all 2s;
}

.show_aperçu {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width: 1000px) {

    .aperçu_gauche {
        transform: translateX(0);
    }

    .aperçu_droite {
        transform: translateX(0);
    }

    .show_aperçu {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    .aperçu_gauche,
    .aperçu_droite {
        padding: calc(10px + 0.5vw);
    }
}