section {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 15px;
    width: 90%;
}

section img {
    width: 100%;
    height: 100%;
}

section video {
    width: 100%;
    height: 100%;
}

